@media screen and (min-width: 820px) {

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .left-sips {
      border-right: 4px solid $blue;
    }
    .left-grub{
      border-right: 4px solid $brown;
    }

    ul li {
      display: flex;
      justify-content: space-between;
    }

    ul li span:nth-child(2) {
      min-width: 35px;
    }

    .inner {
      padding: 8px;
    }

    .border-top {
      border-top: 4px solid $blue;
    }
    .border-top-grub {
      border-top: 4px  solid $brown;
    }
    
  }

  .spacer {
    height: 8px;
  }
}